{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/main/css/equipment.css") }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li class="hidden-xs"><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active hidden-xs">Equipment Filling Table</li>
{% endblock %}

{% block content %}
    <h1 class="text-center">{{ 'equipment_filling_title'|trans({}) }}</h1>
    <br/>
    <br/>
<div class="table-scroll">
    <table class="table table-inverse">
        <thead>
        <tr>
           <th>{{ 'Name'|trans({}) }}</th>
           <th>{{ 'Product'|trans({}) }}</th>
           <th>{{ 'Mould'|trans({}) }}</th>
           <th>{{ 'over_size'|trans({}) }}</th>
           <th>{{ 'deployment'|trans({}) }}</th>
           <th>{{ 'Spares'|trans({}) }}</th>
           <th>{{ 'repair_job'|trans({}) }}</th>
           <th>{{ 'balance_cost'|trans({}) }}</th>
           <th>{{ 'actual_cost'|trans({}) }}</th>
           <th>{{ 'inspection_period'|trans({}) }}</th>
           <th>{{ 'el_power'|trans({}) }}</th>
           <th>{{ 'weight'|trans({}) }}</th>
           <th>{{ 'files'|trans({}) }}</th>
        </tr>
        </thead>

        <tbody>
            {% for key,value in 1..equipments|length %}
                {% set eqValue = equipments[key] %}
                <tr>
                    <th scope="row">{{ eqValue.name }}</th>
                    <td {% if eqValue.product|length == 0 %}class="bg-danger"{% endif %}>{% if eqValue.product|length == 0 %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                    <td {% if eqValue.mould|length == 0 %}class="bg-danger">{% endif %}{% if eqValue.mould|length == 0 %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                    <td {% if not eqValue.overSize %}class="bg-danger"{% endif %}>{% if not eqValue.overSize %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                    <td {% if eqValue.deployment|length == 0 %}class="bg-danger"{% endif %}>{% if eqValue.deployment|length == 0 %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                    <td {% if eqValue.spares|length == 0 %}class="bg-danger"{% endif %}>{% if eqValue.spares|length == 0 %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                    <td {% if not eqValue.repairJob %}class="bg-danger"{% endif %}>{% if not eqValue.repairJob %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                    <td {% if not eqValue.carryingPrice %}class="bg-danger"{% endif %}>{% if not eqValue.carryingPrice %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                    <td {% if not eqValue.factualPrice %}class="bg-danger"{% endif %}>{% if not eqValue.factualPrice %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                    <td {% if not eqValue.inspectionPeriod %}class="bg-danger"{% endif %}>{% if not eqValue.inspectionPeriod %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                    <td {% if not eqValue.elPower %}class="bg-danger"{% endif %}>{% if not eqValue.elPower %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                    <td {% if not eqValue.weight %}class="bg-danger"{% endif %}>{% if not eqValue.weight %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                    <td {% if eqValue.images|length == 0 %}class="bg-danger"{% endif %}>{% if eqValue.images|length == 0 %}<i class="glyphicon glyphicon-minus"></i>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
