{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/main/css/profession.css") }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li class="hidden-xs"><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active hidden-xs">{{ 'job_time_sum'|trans }}</li>
{% endblock %}

{% block content %}

    {% set monthsArray = [
    'months.january'|trans({}),
    'months.february'|trans({}),
    'months.march'|trans({}),
    'months.april'|trans({}),
    'months.may'|trans({}),
    'months.june'|trans({}),
    'months.july'|trans({}),
    'months.august'|trans({}),
    'months.september'|trans({}),
    'months.october'|trans({}),
    'months.november'|trans({}),
    'months.december'|trans({})
    ] %}

    {% set previewYear = "now"|date("Y") - 1 %}
    {% set currentYear = "now"|date("Y") %}

    <div class="page-header">
        <h1 class="text-center">{{ 'job_days_tariff'|trans({}) }}</h1>
    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col-sm-4">
            <table>
                <thead>
                <tr>
                    <th rowspan="2" class="cell-width">Ամիս</th>
                    <th colspan="2" class="cell-width">{{ 'job_days_tariff'|trans }}</th>
                <tr>
                    <th>{{ previewYear }}</th>
                    <th>{{ currentYear }}</th>
                </tr>
                </tr>
                </thead>

                <tbody>

                {% set sumPreviewsYearDays = jobDays|first[0] %}
                {% set sumCurrentYearDays =  jobDays|last[0] %}

                {% set sumPreviewsYearAverageJobTime = sumPreviewsYearDays * 8 %}
                {% set sumCurrentYearAverageJobTime = sumCurrentYearDays * 8 %}

                {% for i in 1..12 %}
                    <tr>
                        <td class="cell-width text-left">{{ monthsArray[i-1] }}</td>

                        {#for first year column#}
                        {% for key, countDay in jobDays|first %}
                            {% if i == key %}
                                <td class=>{{ countDay }}</td>
                            {% endif %}
                        {% endfor %}

                        {#for last year column#}
                        {% for key, countDay in jobDays|last %}
                            {% if i == key %}
                                <td class=>{{ countDay }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>

                <tfoot>
                <tr>
                    <th>
                        Ընդամենը տարեկա
                        աշխատանքային
                        օրերի քանակը
                    </th>
                    <th>{{ (sumPreviewsYearDays * 12)|round(0, 'floor') }}</th>
                    <th>{{ (sumCurrentYearDays * 12)|round(0, 'floor') }}</th>
                </tr>
                <tr>
                    <th>
                        Միջին ամսական
                        աշխատանքային
                        օրերի քանակը
                    </th>
                    <th>{{ (sumPreviewsYearDays) }}</th>
                    <th>{{ (sumCurrentYearDays) }}</th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-sm-8">
            <table>
                <thead>
                <tr>
                    <th rowspan="2" class="cell-width">Դրույք</th>
                    <th colspan="2" class="cell-width">{{ 'Ժամավճարը'|trans }}</th>
                    <th colspan="2" class="cell-width">{{ 'Օրավճարը'|trans }}</th>
                <tr>
                    <th>{{ previewYear }}</th>
                    <th>{{ currentYear }}</th>
                    <th>{{ previewYear }}</th>
                    <th>{{ currentYear }}</th>
                </tr>

                </tr>
                </thead>

                <tbody>
                    {% for rate in rates %}
                        <tr>
                            <td>{{ rate }}</td>
                            <td>{{ (rate / sumPreviewsYearAverageJobTime)|round(0, 'ceil') }}</td>
                            <td>{{ (rate / sumCurrentYearAverageJobTime)|round(0, 'ceil') }}</td>
                            <td>{{ (rate / sumPreviewsYearDays)|round(0, 'ceil') }}</td>
                            <td>{{ (rate / sumCurrentYearDays)|round(0, 'ceil') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>
                        Միջին ամսական
                        աշխատանքային
                        ժամերը
                    </th>
                    <th>{{ sumPreviewsYearAverageJobTime }}</th>
                    <th>{{ sumCurrentYearAverageJobTime }}</th>
                </tr>

                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
