{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
    <li>
        <a href="{{ path('admin_main_equipment_equipment-filling') }}" class="sonata-action-element" title="{{ 'equipment_filling'|trans() }}">
            <i class="glyphicon glyphicon-align-justify"> {{ 'equipment_filling'|trans() }}</i>
        </a>
    </li>
    <li>
        <a href="" class="sonata-action-element" data-toggle="modal" data-target="#equipmentFilterModal">
            <i class="glyphicon glyphicon-search"> {{ 'filter'|trans }}</i>
        </a>
    </li>
{%- endblock -%}

{% block list_table %}
    {{ parent() }}
    {% set currentPath = app.request.attributes.get('_route') %}
    {% if currentPath == 'admin_main_equipment_list' %}

        {#custom filet block for equipment #}
        {% include 'MainBundle:Admin/Modal:equipment_filter_modal.html.twig' %}

    {% endif %}
{% endblock %}